@import 'style.css';
:root {
    --texto: #313333;
    --azul-botoes: #85CAC3;
    --nav-cards: #F5F6F5;
    --fundo: #C8E8E4;
    --verde: #27A637;
}
body{
  background-color: var(--fundo);
}
.card {
    border-radius: 30px;
}

#c1{
border-color: #27A637;
}


.t1{
  font-family: 'titulo';
  src: url('../assets/fonts/Raleway-ExtraBold.ttf');
  text-align: center;
}


.f1{
  font-family: 'subtitulo';
  src: url('../assets/fonts/Raleway-SemiBold.ttf');
 text-decoration-color: var(--texto);
  text-align: right;
}

p{
  font-family: 'corpo-texto';
  src: url('../assets/fonts/Raleway-Light.ttf');
  text-align: left;
}

.btn-group button {
    background-color:#F5F6F5; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    font-family: 'corpo-texto';
    
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  

#menu{
    margin-left: 70px;
    margin-bottom: 10px;
    text-align: center;
}
.logo{
    width: 150px;
    margin: 0 auto;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}
.navbar-padding{
    padding-bottom: 50px;
    margin-bottom: 0px;
    margin-left: 0px;
}
.card {
  margin: 0 auto; 
  float: none; 
  margin-bottom: 10px; 
}

btn{
  align-content: right;
}