@import 'style.css';
:root {
    --texto: #313333;
    --azul-botoes: #85CAC3;
    --nav-cards: #F5F6F5;
    --fundo: #C8E8E4;
    --verde: #27A637;
}
body{
  background-color: var(--fundo);
}
.card {
    border-radius: 30px;
}

#c1{
border-color: #27A637;
}

.titulo {
  font-family: 'titulo';
  text-align: center;
  margin-top: 30px;
  font-size: 30px;
  color: var(--texto);
}
@font-face {
  font-family: 'titulo';
  src: url('../assets/fonts/Raleway-Bold.ttf');
}
@font-face {
  font-family: 'subtitulo';
  src: url('../assets/fonts/Raleway-SemiBold.ttf');
}

.subtitulo{
  font-family: 'subtitulo';
  text-align: right;
  font-size: 30px;
  color: var(--texto);
}
.subtitulo2{
  font-family: 'subtitulo';
  text-align: left;
  font-size: 20px;
  color: var(--texto);
}
.subtitulo3{
  font-family: 'subtitulo';
  text-align: left;
  font-size: 20px;
  color: var(--texto);
}



p{
  font-family: 'corpo-texto';
  src: url('../assets/fonts/Raleway-Light.ttf');
 
}

.btn-group button {
    background-color:#F5F6F5; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    font-family: 'corpo-texto';
    
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  .btn{
    align-content: center;
  }

  #botao, #publicar {
    border: 3px solid var(--azul-botoes);
    border-radius: 20px;
    background-color: var(--nav-cards);
    color: var(--azul-botoes);
    font-size: 20px;
    height: 50px;
    width: 220px;
    text-align: center;
    font-family: var(--texto);
    margin-top: 15px;
    font-family: 'corpo-texto';
    font-weight: bold;
}
.logo{
    width: 150px;
    margin: 0 auto;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}
.navbar-padding{
    padding-bottom: 50px;
    margin-bottom: 0px;
    margin-left: 0px;
}
.card {
  margin: 0 auto; 
  float: none; 
  margin-bottom: 10px; 
}

#modal1{
  border-color: var(--fundo);
}

#criar{
  position: absolute;
  bottom: 150px;
  right: 16px;
  font-size: 18px;
}

.modal-body{
  background-color:#C8E8E4;
}
.modal-header{
  background-color:#C8E8E4;
}
.modal-footer{
  background-color:#C8E8E4;
}

.text-align-center{
  text-align: center;
  margin: 0;
}

.centrar-3{
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.margem-navbar{
  margin-bottom: 0;
}

.nav-hover :hover {
  color: var(--verde);
}

.nav-hover :active{
  color: var(--verde);
}

a {
  outline: none;
  text-decoration: none;
  color: var(--texto)
}

.centrar-3{
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 0px;
}

.form-control{
  border-radius: 10px;
}