/* TIPOS DE LETRA */

@font-face {
    font-family: 'titulo';
    src: url('../assets/fonts/Raleway-Bold.ttf');
}

@font-face {
    font-family: 'subtitulo';
    src: url('../assets/fonts/Raleway-SemiBold.ttf');
}

@font-face {
    font-family: 'corpo-texto';
    src: url('../assets/fonts/Raleway-Regular.ttf');
}



/* SISTEMA DE CORES */

:root {
    --texto: #313333;
    --azul-botoes: #85CAC3;
    --nav-cards: #F5F6F5;
    --fundo: #C8E8E4;
    --verde: #27A637;
}

* {
    box-sizing: border-box
}

html{
    scroll-behavior: smooth;
}

    
main{
        margin: 0;
        padding: 0;
    }

body {
    background-color: var(--fundo);
}

.row {
    padding: 0;
}

.logo {
  width: 150px;
  margin: 0 auto;
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  
}

.text-align-center{
    text-align: center;
    margin: 0;
}

.navbar-padding{
    padding-bottom: 50px;
}

.padding-posicao {
    padding-left: 23px;
}

.padding-icone-1 {
    padding-top: 100px;
}

.padding-icone-2 {
    padding-top: 150px;
}


.mundo{
    max-width: 350px;
    max-height: 350px;
}

.card {
    border-radius: 30px;
    margin: 0 auto;
    float: none;
}

.centrar-1{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.f1 {
    font-family: 'subtitulo';
    src: url(../assets/fonts/Raleway-SemiBold.ttf);
    text-decoration-color: var(--texto);
    text-align: right;
}


