@import './style.css';

/* SISTEMA DE CORES */

:root {
    --texto: #313333;
    --azul-botoes: #85CAC3;
    --nav-cards: #F5F6F5;
    --fundo: #C8E8E4;
    --verde: #27A637;
}

/* INICIO */
body {
    background-color: var(--fundo);
}

.row {
    padding: 0;
}

.fundo {
    padding: 0;
    margin-left: 80px;
    margin-right: 60px;
    margin-top: 545px;
}

.logo {
    width: 200px;
    position: absolute;
    top: 50%;
    left: 25%;
}

.botoes {
    align-content: center;
}

.btn {
    border: 3px solid var(--azul-botoes);
    border-radius: 20px;
    background-color: var(--nav-cards);
    color: var(--azul-botoes);
    font-size: 20px;
    height: 50px;
    width: 220px;
    text-align: center;
    font-family: var(--texto);
    margin-top: 15px;
    font-family: 'corpo-texto';
    font-weight: bold;
}