<<<<<<< HEAD
@import './style.css';
=======
>>>>>>> 14bc66116699efae8265eeba59b4454d8ef69724
:root {
    --texto: #313333;
    --fundo: #85CAC3;
    --nav-cards: #F5F6F5;
    --azul-botoes: #C8E8E4;
    --verde: #27A637;
}