@import './style.css';

/* SISTEMA DE CORES */

:root {
    --texto: #313333;
    --azul-botoes: #85CAC3;
    --nav-cards: #F5F6F5;
    --fundo: #C8E8E4;
    --verde: #27A637;
}

/* RANKING */

* {
    box-sizing: border-box
}

html {
    scroll-behavior: smooth;
}

main {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--fundo);
}

.row {
    padding: 0;
}

.logo {
    width: 150px;
    margin: 0 auto;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}


/* PADDINGS */
.navbar-padding {
    padding-bottom: 50px;
}

.navbar-padding-2 {
    padding-top: 30px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.padding-posicao {
    padding-left: 42px;
}

.padding-icone-1 {
    padding-top: 100px;
}

.padding-icone-2 {
    padding-top: 150px;
}

.moved {
    transform: translate(18px);
}

.margin-left-1 {
    margin-left: 18px;
}

.margin-left-2 {
    margin-left: 18px;
}

.margin-left-3 {
    margin-left: 18px;
}

.margin-right-1 {
    margin-right: 10px;
}

.mundo {
    max-width: 300px;
    max-height: 300px;
}

.card {
    border-radius: 30px;
    margin: 0 auto;
    float: none;
}

.centrar-1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.margem-ranking {
    margin-bottom: 125px;
}

/* NAVBAR INFERIOR */
.text-align-center {
    text-align: center;
    margin: 0;
}

.centrar-3 {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
}

.margem-navbar {
    margin-bottom: 0;
}

.nav-hover :hover {
    color: var(--verde);
}

.nav-hover :active {
    color: var(--verde);
}


a {
    outline: none;
    text-decoration: none;
    color: var(--texto)
}