/* FONTE */

@font-face {
    font-family: 'titulo';
    src: url('../assets/fonts/Raleway-Bold.ttf');
}

@font-face {
    font-family: 'subtitulo';
    src: url('../assets/fonts/Raleway-SemiBold.ttf');
}

@font-face {
    font-family: 'corpo-texto';
    src: url('../assets/fonts/Raleway-Regular.ttf');
}

/* TIPOS DE LETRA */

.subtitulo {
    font-family: 'subtitulo';
    font-size: 30px;
    color: var(--texto)
}

.subtitulo-filtros {
    font-family: 'subtitulo';
    text-align: right;
    font-size: 30px;
    color: var(--texto)
}

​​​​​​​ .titulo {
    font-family: 'titulo';
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
    color: var(--texto)
}

.titulo-filtros {
    font-family: 'titulo';
    text-align: center;
    font-size: 30px;
    color: var(--texto)
}