/* TIPOS DE LETRA */

h2 {
    font-family: 'titulo';
    src: url('../css/Raleway-Bold.ttf');
}

h4{
    font-family: 'subtitulo';
    src: url('../css/Raleway-SemiBold.ttf');
}

p {
    font-family: 'corpo-texto';
    src: url('../css/Raleway-Light.ttf');
}

/* SISTEMA DE CORES */

:root {
    --texto: #313333;
    --fundo: #85CAC3;
    --nav-cards: #F5F6F5;
    --azul-botoes: #C8E8E4;
    --verde: #27A637;
}